.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    width: 10%;
}
select {
    width: 10%;
}

button {
    width: 10%;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}